@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

#testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    padding: 7rem;
}

#testimonials h2 {
    font-size: 36px;
}

.border {
    height: 3px;
    width: 120px;
    background-color: red;
    margin: 15px 0 30px;
}

#testimonials .row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    flex-wrap: wrap;
}

#testimonials .row .col {
    background-color: #fff;
    margin: 1rem;
    padding: 50px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
}

#testimonials .row .col img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
}

#testimonials .row .col h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

#testimonials .row .col .stars {
    margin: 15px 0;
    color: red;
}

#testimonials .row .col p {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.4;
}

/* Tablet */
@media (max-width: 900px){
    #testimonials .row {
        flex-direction: column;
    }
    #testimonials .row .col {
        margin: 1rem 0;
    }
}

/* Mobile */
@media (max-width: 600px){
    #testimonials{
        padding: 3rem;
    }

}
